homeassistant:
  name: Mothership
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 302
  unit_system: metric
  time_zone: Europe/Kiev
  packages: !include_dir_named integrations
  customize: !include customize.yaml
default_config:

## Includes
zone: !include zones.yaml
#yeelight: !include yeelight.yaml
group: !include groups/groups.yaml
light: !include groups/lights.yaml
automation: !include_dir_merge_list includes/automation
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include_dir_merge_list includes/sensors
binary_sensor: !include_dir_merge_list includes/binary-sensors


