::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-left: 1px solid #ccc;
    background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -8px;
}

.column:first-child {
    margin-left: -4px;
}

.column:last-child {
    margin-right: -4px;
}
layout-card {
    padding: 5px;
}
